<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>448336593725-cuh87kjfd0cukfubj1loejqaeqkgfbut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448336593725-cuh87kjfd0cukfubj1loejqaeqkgfbut</string>
	<key>API_KEY</key>
	<string>AIzaSyCSoT-UfwzSU4534PoMeiV0XO7CKlzh3h8</string>
	<key>GCM_SENDER_ID</key>
	<string>448336593725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kennymiu.St-Augustine</string>
	<key>PROJECT_ID</key>
	<string>staugustinechsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>staugustinechsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448336593725:ios:5dadc8b4446c6fd7</string>
	<key>DATABASE_URL</key>
	<string>https://staugustinechsapp.firebaseio.com</string>
</dict>
</plist>